/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Same Background as Index */
body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #1d4350, #a43931);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

/* Glass Container */
.container {
    width: 750px;
    min-width: 600px;
    padding: 120px 100px;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border-radius: 25px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.8s ease-in-out;
}

/* Heading */
h1 {
    font-size: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/* Centered Problem List */
.problem-list {
    list-style-position: inside;
    font-size: 22px;
    line-height: 2.2;
    margin-bottom: 40px;
}

/* Complaint Button */
.complaint-btn {
    display: inline-block;
    padding: 15px 40px;
    background: #00c9a7;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 201, 167, 0.6);
}

.complaint-btn:hover {
    background: #00f5d4;
    transform: scale(1.1);
    box-shadow: 0 0 35px rgba(0, 245, 212, 1);
}

/* Fade Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.start-btn,
.start-btn:visited {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 40px;
    background: #00c9a7;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 201, 167, 0.6);
}

.start-btn:hover {
    background: #00f5d4;
    transform: scale(1.1);
    box-shadow: 0 0 35px rgba(0, 245, 212, 1);
}

 .logo {
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;                 /* VERY IMPORTANT */
    text-align: center;
}